@import "vars";
@import "mixins";
.excel__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;
  background-color: #99cccc;

  & .input {
    min-width: 1px;
    height: 24px;
    margin: 0;
    padding: 2px 7px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    background-color: #99cccc;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;

    &:hover {
      border: 1px solid $border-color;
    }

    &:focus {
      border: 1px solid #1a73e8;
    }
  }

  .button {
    @include button(red);
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  caret-color: transparent;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}